# Node.js modules
node_modules/

# env variables
.env

# TypeScript build folder
dist/

# Optional: Debugger files
*.log
*.tsbuildinfo

# OS-specific files
.DS_Store         
Thumbs.db         

# IDE-specific files
.vscode/
.idea/
